<template>
  <div v-if="typeof interest !== 'undefined'" class="modal fade" :id="'add-int'+user.id" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog popup" role="document">
<!--      <button type="button" data-dismiss="modal" class="close">-->
<!--        <span aria-hidden="true">×</span>-->
<!--      </button>-->
      <div class="modal-content">
        <h4 class="mb-4">Добавить интерес</h4>
        <div class="input-group col pl-0 pr-0" >
          <label class="pl-3 pr-3 col-12 d-flex">
                                <span class="align-self-center col-12 pl-0 pr-0">
                                    <span title="Комментарий" class="sup">Комментарий</span>
                                    <textarea type="text" name="lastname" v-model="interest.comment"
                                              placeholder="Комментарий" class="form-control h-100"></textarea>
                                </span>
          </label>
        </div>
        <div class="input-group col pl-0 pr-0" >
          <label class="col-6 pr-0">
            <select v-model="interest.status" title="Статус" class="col-12 p-0">
              <option v-for="(status, key) in statuses" v-bind:value="key">{{status}}</option>
            </select>
          </label>
        </div>

        <button class="btn btn-blue" @click="editInterest" >Сохранить</button>
      </div>
    </div>
  </div>
</template>
<script>



export default {

  props: ['user','statuses'],
  data: function(){
    return {
        interest: {
          user_id: null,
          comment: '',
          status: null
        }
    };
  },

  methods: {
    editInterest: function(){
      this.interest.user_id = this.user.id;
        axios.post('/api/interests/create', this.interest)
            .then(function (resp) {
            });

      $('#add-int'+this.user.id).modal('hide');
    }
  }
}
</script>
<style>
.popup {
  background: #e5ecf0;
  border-radius: 3px;
  padding: 35px 30px;
  max-width: 545px;
  width: 100%;
  margin: 30px auto;
  position: relative;
}
.sup {
  display: block;
  color: #797c7e;
  font: 12px/15px 'Open Sans', sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
</style>