<template>
  <div class="modal fade" id="add-user" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog popup" role="document">
<!--      <button type="button" data-dismiss="modal" class="close">-->
<!--        <span aria-hidden="true">×</span>-->
<!--      </button>-->
      <div class="modal-content">
        <h4 class="mb-4">Редактировать клиента</h4>
        <div class="input-group col pl-0 pr-0" >
          <label class="pl-3 pr-3 input-field-wrap d-flex">
                                <span class="align-self-center col-12 pl-0 pr-0">
                                    <span title="Фамилия" class="sup">Фамилия</span>
                                    <input type="text" name="lastname" v-model="user.lastname" maxlength="30"
                                           placeholder="Фамилия" class="input-field col-12 pl-0">
                                </span>
          </label>
        </div>
        <div class="input-group col pl-0 pr-0" >
          <label class="pl-3 pr-3 input-field-wrap d-flex">
                                <span class="align-self-center col-12 pl-0 pr-0">
                                    <span title="Имя" class="sup">Имя</span>
                                    <input type="text" name="firstname" v-model="user.firstname" maxlength="30"
                                           placeholder="Имя" class="input-field col-12 pl-0">
                                </span>
          </label>
        </div>
        <div class="input-group col pl-0 pr-0" >
          <label class="pl-3 pr-3 input-field-wrap d-flex">
                                <span class="align-self-center col-12 pl-0 pr-0">
                                    <span title="Отчество" class="sup">Отчество</span>
                                    <input type="text" name="middlename" v-model="user.middlename" maxlength="30"
                                           placeholder="Отчество" class="input-field col-12 pl-0">
                                </span>
          </label>
        </div>
        <div class="input-group col pl-0 pr-0" >
          <label class="pl-3 pr-3 input-field-wrap d-flex">
                                <span class="align-self-center col-12 pl-0 pr-0">
                                    <span title="Телефон" class="sup">Телефон</span>
                                    <input type="text" name="phone" v-model="user.phone" maxlength="30"
                                           placeholder="Телефон" class="input-field col-12 pl-0">
                                </span>
          </label>
        </div>
        <div class="input-group col pl-0 pr-0" >
          <label class="pl-3 pr-3 input-field-wrap d-flex">
                                <span class="align-self-center col-12 pl-0 pr-0">
                                    <span title="Email" class="sup">Email</span>
                                    <input type="text" name="email" v-model="user.email" maxlength="35"
                                           placeholder="Email" class="input-field col-12 pl-0">
                                </span>
          </label>
        </div>
        <button class="btn btn-blue" @click="addUser" >Сохранить</button>
      </div>
    </div>
  </div>
</template>
<script>



export default {

  data: function(){
    return {
        user: {
          lastname: '',
          firstname: '',
          middlename: '',
          phone: '',
          email: ''
        }
    };
  },

  methods: {
    addUser: function(){

        axios.post('/api/users/create', this.user)
            .then(function (resp) {
            });

      $('#add-user'+this.user.id).modal('hide');
    }
  }
}
</script>
<style>
.popup {
  background: #e5ecf0;
  border-radius: 3px;
  padding: 35px 30px;
  max-width: 545px;
  width: 100%;
  margin: 30px auto;
  position: relative;
}
.sup {
  display: block;
  color: #797c7e;
  font: 12px/15px 'Open Sans', sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
</style>