<template>
  <div class="mt-4 ml-2">
    <table class="table">
      <thead>
        <tr role="row" >
          <th><span >Дата </span></th>
          <th><span >Клиент </span></th>
          <th><span >Комментарий </span></th>
          <th><span >Статус </span></th>
          <th class="th-last"></th>
        </tr>
      </thead>
      <tbody>
        <tr v-if="interests.length>0" v-bind:class="inter.status" v-for="inter in interests">
          <th>{{inter.date}}</th>
          <th>{{inter.lastname+' '+inter.firstname}}</th>
          <th>{{inter.comment}}</th>
          <th>{{statuses[inter.status]}}</th>
          <th>
            <button class="btn btn-blue" @click="onShow(inter)">Редактировать</button>
            <button class="btn btn-red ml-3" @click="deleteInterest(inter.id)">X</button>
          </th>
        </tr>
      </tbody>
    </table>
    <interest-edit :interest="interestSelected" :statuses="statuses"></interest-edit>
  </div>
</template>
<script>
 import InterestEdit from "./modal/InterestEdit";

export default {
  components: {InterestEdit,},
  created() {
    let app = this;
    app.getList();
  },
  props: ['statuses'],
  data()  {
    return {
      interests: [],
      interestSelected: {}
    }
  },

  methods: {
    onShow: function(interest){
      let app = this;
      app.interestSelected = interest;
      app.$nextTick(function() { $('#edit-int'+interest.id).modal('show'); });
    },
    deleteInterest:function (id){
      axios.delete('/api/interests/'+id)
          .then(function (resp) {
            window.location.reload();
          });
    },
    getList: function (){
      let app = this;
      axios.get('/api/interests/list')
          .then(function (resp) {
            console.log(resp)
            app.interests = resp.data.data;
          });
    }
  }
}

</script>
<style>
  .btn-blue {
    background: #badaf7;
  }
  .btn-red {
    background: #e67575;
    border-radius: 23px;
  }
  .th-last {
    width: 18%;
  }
  .init {
    background-color: #d4d4d4;
  }
  .check {
    background-color: #a1ccae;
  }
  .delayed {
    background-color: #cca1a3;
  }
  .recall {
    background-color: #cbcca1c9;
  }
</style>