<template>
  <div class="mt-4 ml-2">
    <button class="btn btn-blue m-3" data-toggle="modal" data-target="#add-user">Добавить клиента</button>
    <table class="table">
      <thead>
        <tr role="row">
          <th><span >Фамилия </span></th>
          <th><span >Имя </span></th>
          <th><span >Отчество </span></th>
          <th><span >Телефон </span></th>
          <th><span >Email </span></th>
          <th class="th-last"></th>
        </tr>
      </thead>
      <tbody>
        <tr v-if="users.length>0" v-for="(user, ind) in users">
          <th>{{user.lastname}}</th>
          <th>{{user.firstname}}</th>
          <th>{{user.middlename}}</th>
          <th>{{user.phone}}</th>
          <th>{{user.email}}</th>
          <th>
            <button class="btn btn-plus" title="Добавить интерес" @click="onAddInterest(user)">+</button>
            <button class="btn btn-blue" @click="onShow(user)">Редактировать</button>
            <button class="btn btn-red ml-3" @click="deleteUser(user.id)">X</button>
          </th>
        </tr>
      </tbody>
    </table>
    <user-edit :user="userSelected"></user-edit>
    <user-add :user="userSelected"></user-add>
    <interest-add :user="userSelected" :statuses="statuses"></interest-add>
  </div>
</template>
<script>
import UserEdit from "./modal/UserEdit";
import UserAdd from "./modal/UserAdd";
import InterestAdd from "./modal/InterestAdd";

export default {
  props: ['statuses'],
  components: {UserEdit, UserAdd, InterestAdd},
  created() {
    let app = this;
    app.getUsers();
  },
  data()  {
    return {
      users: [],
      userSelected: {},
    }
  },

  methods: {
    onAddInterest: function(user){
      let app = this;
      app.userSelected = user;
      app.$nextTick(function() { $('#add-int'+user.id).modal('show'); });
    },
    onShow: function(user){
      let app = this;
      app.userSelected = user;
      app.$nextTick(function() { $('#edit-user'+user.id).modal('show'); });
    },
    deleteUser:function (id){
      axios.delete('/api/users/'+id)
          .then(function (resp) {
            window.location.reload();
          });
    },
    getUsers: function (){
      let app = this;
      axios.get('/api/users/list')
          .then(function (resp) {
            console.log(resp)
            app.users = resp.data.data;
          });
    }
  }
}

</script>
<style>
  .btn-blue {
    background: #badaf7;
  }
  .btn-plus {
    background-color: #a5fd9bcc;
    font-size: 23px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .btn-red {
    background: #e67575;
    border-radius: 23px;
  }
  .th-last {
    width: 18%;
  }
</style>